<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Projeto Academia</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
                <a class="nav-link" routerLink="/exercicio" routerLinkActive="active">Exercicios</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/consultar-pessoas" routerLinkActive="active">Pessoas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/planos" routerLinkActive="active">Planos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/consultar-matriculas" routerLinkActive="active">Matriculas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/consultar-pagamentos" routerLinkActive="active">Pagamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consultar-usuarios" routerLinkActive="active">Usuarios</a>
          </li>
           <li class="nav-item">
          <a class="nav-link" routerLink="/consultar-fichas" routerLinkActive="active">Ficha</a>
          </li>
           <li class="nav-item">
          <a class="nav-link" routerLink="/consultar-fichaExercicios" routerLinkActive="active">Fichas de exercicios</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

       
        