<div class="container mt-4">
    <h2 class="mb-4 border-bottom border-3 border-danger">Fichas</h2>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="data" class="form-label">Data</label>
                <input id="data" type="text" class="form-control" formControlName="data">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input id="descricao" type="text" class="form-control" formControlName="descricao">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="situacao" class="form-label">Situação</label>
                <input id="situacao" type="text" class="form-control" formControlName="situacao">
            </div>
        </div>


        <div class="col-md-12 mb-3">
            <label for="pessoas" class="form-label">Pessoa</label>
            <select class="form-select" formControlName="pessoa">
                <option [ngValue]="null" disabled selected>Selecione uma pessoa</option>
                <option *ngFor="let pessoa of listaPessoas" [ngValue]="pessoa">{{ pessoa.nome }}</option>
            </select>
        </div>

        <div class="d-flex justify-content-between">
            <a routerLink="/consultar-fichas" class="btn btn-secondary">
                Cancelar
            </a>
            <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">
                Salvar
            </button>
        </div>
    </form>
</div>