<div class="container mt-4">
    <h2 class="mb-4 border-bottom border-3 border-danger">Matrículas</h2>

    <div class="d-flex justify-content-end mb-2">
        <a routerLink="/cadastrar-matricula" routerLinkActive="active" class="btn btn-primary">Cadastrar</a>
    </div>

    <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Situação</th>
                <th>Plano</th>
                <th>Pessoa</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let matricula of lista">
                <td>{{ matricula.numero }}</td>
                <td>{{ matricula.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ matricula.situacao }}</td>
                <td>{{ matricula.plano?.descricao || 'Sem plano' }}</td>
                <td>{{ matricula.pessoa?.nome || 'Sem pessoa' }}</td>

                <td class="text-center">
                    <button class="btn btn-sm btn-warning me-2" (click)="editar(matricula.id)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="excluir(matricula.id)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>